* {
    font-family: Arial;
}

body {
    margin: 0 auto;
    padding: 0 auto;
}

h1 {
    font-size: 25px;
    color: #0079c7;
    margin-top: 30px;
    margin-left: 30px;
}

h2 {
    font-size: 16px;
    color: #39aae1;
    margin-top: 30px;
    margin-left: 30px;
}

hr {
    width: 100%;
    border-color: #DCDCDC;
    margin-left: 10px;
}

label {
    font-size: 16px;
    color: #0079c7;
    margin-left: 20px;
    margin-bottom: 20px;
}

.content {
    display: flex;
}

.menu_esquerdo {
    width: 200px;
    height: 625px;
    background-color: #D3D3D3;
    font-size: 20px;
    color: #ffffff;
    display: flex;
}

ul {
    display: flex;
    flex-flow: column;
    width: 200px;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content: center;
}

li:hover {
    display: flex;
    background-color: #4682B4;
}

.active {
    display: flex;
    background-color: #4682B4;
}

.botoes {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    align-items: flex-end;
    margin-left: 400px;
}

.btn {
    display: flex;
    font-size: 15px;
    color: #ffffff;
    background-color: #4682B4;
    padding: 7px;
    margin-left: 10px;
}

.btn:hover {
    background-color: #ffffff;
    color: #4682B4;
    border-color: #4682B4;
}

.input {
    margin-bottom: 15px;
    font-size: 16px;
    color: #4682B4;
    border-color: 1px solid #4682B4;
    padding: 5px;
}

select {
    margin-bottom: 15px;
    font-size: 16px;
    color: #4682B4;
    border-color: 1px solid #4682B4;
    padding: 5px;
}